In [1]:
import numpy as np
import pandas as pd
import datetime as dt
from simpledbf import Dbf5
from datetime import date

In [2]:
dbf = Dbf5('E:/Windows 7 Backup_Sep18/Drive F_2018/Upwork Projects/2019/North America/USA/MAYA/opioids_july2013_june2014_export.dbf')

df = dbf.to_dataframe()

In [4]:
# df2=df.groupby(['DE_ID','VENDOR'],axis =0)

In [3]:
pd.DataFrame(data=df).head()

,DE_ID,VENDOR,DISP_DATE,SDATE,YYYYMMDD,PRESCRIBER,AMT_PAID,NDC,QTY,DAYS,GENDER,AGE,LN,AHFS,GCN_SEQNO
0,10478,250066,2013196,16755,20130715,J4538,14.25,603388721,60.0,15,F,51,HYDROCODON-ACETAMINOPHN 10-325,28080825,30623
1,10478,250066,2013261,16820,20130918,K3626,14.25,603388721,60.0,15,F,51,HYDROCODON-ACETAMINOPHN 10-325,28080825,30623
2,10478,250066,2014023,16947,20140123,K3626,9.92,603388721,40.0,20,F,51,HYDROCODON-ACETAMINOPHN 10-325,28080825,30623
3,10478,466545,2014073,16997,20140314,28651,3.25,603233832,12.0,2,F,52,ACETAMINOPHEN-COD #3 TABLET,28080881,4165
4,10478,466545,2014086,17010,20140327,28624,3.25,603233832,12.0,2,F,52,ACETAMINOPHEN-COD #3 TABLET,28080881,4165

In [73]:
# df.rename(columns = {"YYYYMMDD": "Date"})

In [4]:
df['New_Date'] = pd.to_datetime(df["YYYYMMDD"], format='%Y%m%d').dt.date
df['New_Month'] = pd.to_datetime(df["YYYYMMDD"], format='%Y%m%d').dt.month
df['New_Year'] = pd.to_datetime(df["YYYYMMDD"], format='%Y%m%d').dt.year
df['New_Day'] = pd.to_datetime(df["YYYYMMDD"], format='%Y%m%d').dt.day
df['New_Qtr'] = pd.to_datetime(df["YYYYMMDD"], format='%Y%m%d').dt.quarter

In [10]:
df['New_Qtr'] = df['New_Qtr'].replace({1: 'Qtr1_1314', 2: 'Qtr2_1314', 3: 'Qtr3_1314', 4: 'Qtr4_1314'})

In [11]:
df.head()

,DE_ID,VENDOR,DISP_DATE,SDATE,YYYYMMDD,PRESCRIBER,AMT_PAID,NDC,QTY,DAYS,GENDER,AGE,LN,AHFS,GCN_SEQNO,New_Date,New_Month,New_Year,New_Day,New_Qtr
0,10478,250066,2013196,16755,20130715,J4538,14.25,603388721,60.0,15,F,51,HYDROCODON-ACETAMINOPHN 10-325,28080825,30623,2013-07-15,7,2013,15,Qtr3_1314
1,10478,250066,2013261,16820,20130918,K3626,14.25,603388721,60.0,15,F,51,HYDROCODON-ACETAMINOPHN 10-325,28080825,30623,2013-09-18,9,2013,18,Qtr3_1314
2,10478,250066,2014023,16947,20140123,K3626,9.92,603388721,40.0,20,F,51,HYDROCODON-ACETAMINOPHN 10-325,28080825,30623,2014-01-23,1,2014,23,Qtr1_1314
3,10478,466545,2014073,16997,20140314,28651,3.25,603233832,12.0,2,F,52,ACETAMINOPHEN-COD #3 TABLET,28080881,4165,2014-03-14,3,2014,14,Qtr1_1314
4,10478,466545,2014086,17010,20140327,28624,3.25,603233832,12.0,2,F,52,ACETAMINOPHEN-COD #3 TABLET,28080881,4165,2014-03-27,3,2014,27,Qtr1_1314

In [21]:
import csv
# df.to_csv('E:\\df_1314.csv')

In [12]:
# df_QL = df.groupby('DE_ID').count()

In [13]:
# df_QL['TF'] = df_QL['AMT_PAID']>=4
# df_QL.head()

,VENDOR,DISP_DATE,SDATE,YYYYMMDD,PRESCRIBER,AMT_PAID,NDC,QTY,DAYS,GENDER,AGE,LN,AHFS,GCN_SEQNO,New_Date,New_Month,New_Year,New_Day,New_Qtr,TF
DE_ID,,,,,,,,,,,,,,,,,,,,
10478,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,True
10479,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,True
10480,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,True
10485,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,False
10488,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,False

In [14]:
# pd.Series(df_QL['TF']).value_counts()

False    332045
True     101775
Name: TF, dtype: int64

In [105]:
#pd.DataFrame(data=df_QL).head()
# df_QL.head()

,VENDOR,DISP_DATE,SDATE,YYYYMMDD,PRESCRIBER,AMT_PAID,NDC,QTY,DAYS,GENDER,AGE,LN,AHFS,GCN_SEQNO,New_Date,New_Month,New_Year,New_Day,New_Qtr,TF
DE_ID,,,,,,,,,,,,,,,,,,,,
10478,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,True
10479,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,True
10480,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,True
10485,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,False
10488,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,False

In [ ]:
# pivot_df = pd.pivot(df,columns=['','','','',])

In [76]:
# before merging we need to determine px that are continuously enrlled
# so for each year px that had at least one claim in each quater

In [15]:
pivot_df = pd.pivot_table(df, values=['AMT_PAID'], index=['DE_ID'], columns=['New_Qtr'], aggfunc=np.sum)

In [16]:
pivot_df.reset_index(inplace=False)

           DE_ID  AMT_PAID
New_Qtr          Qtr1_1314 Qtr2_1314 Qtr3_1314 Qtr4_1314
0          10478     16.42      6.69     28.50       NaN
1          10479       NaN       NaN    764.67     90.40
2          10480     14.96     13.36      8.32     21.02
3          10485       NaN      3.11       NaN       NaN
4          10488       NaN       NaN     11.71       NaN
5          10489    289.12    441.39     30.74     45.29
6          10490       NaN     25.44       NaN      3.93
7          10492       NaN     12.21     26.34      6.30
8          10494     59.44      5.91       NaN     21.00
9          10495      8.49     19.09      3.30      6.38
10         10498       NaN       NaN     22.64     22.31
11         10499     10.72       NaN       NaN       NaN
12         10500      5.24     15.72      2.61     12.07
13         10502      2.25       NaN     14.25       NaN
14         10503    104.32     98.86     99.36    132.48
15         10504      9.64     13.18      4.16       NaN
16         10507      8.37       NaN       NaN      1.78
17         10508     37.43       NaN      5.44     16.52
18         10509       NaN      3.61       NaN       NaN
19         10511     13.10      6.55      8.25      1.96
20         10512     24.42     11.06     99.58     31.92
21         10514      2.07       NaN       NaN      2.31
22         10515       NaN      6.08       NaN       NaN
23         10517    349.46     31.48     18.33     24.44
24         10518      9.00      3.70       NaN       NaN
25         10519       NaN       NaN      3.34       NaN
26         10520       NaN       NaN      3.21       NaN
27         10522       NaN       NaN      5.23       NaN
28         10523       NaN       NaN      1.94       NaN
29         10526     50.39     59.03     44.25    105.26
...          ...       ...       ...       ...       ...
433790   1129679       NaN      9.29       NaN       NaN
433791   1129749       NaN      8.77       NaN       NaN
433792   1129780       NaN     35.07       NaN       NaN
433793   1129782       NaN      7.05       NaN       NaN
433794   1129799       NaN      7.25       NaN       NaN
433795   1129886       NaN     14.32       NaN       NaN
433796   1129906       NaN      7.73       NaN       NaN
433797   1129928       NaN     12.64       NaN       NaN
433798   1129949       NaN      9.51       NaN       NaN
433799   1129969       NaN     12.31       NaN       NaN
433800   1129990       NaN    366.58       NaN       NaN
433801   1130050       NaN     25.62       NaN       NaN
433802   1130070       NaN     26.80       NaN       NaN
433803   1130182       NaN      7.20       NaN       NaN
433804   1130188       NaN     17.64       NaN       NaN
433805   1130272       NaN     12.28       NaN       NaN
433806   1130304       NaN      8.01       NaN       NaN
433807   1130308       NaN      8.60       NaN       NaN
433808   1130348       NaN     32.02       NaN       NaN
433809   1130350       NaN     24.52       NaN       NaN
433810   1130408       NaN     10.42       NaN       NaN
433811   1130425       NaN      7.29       NaN       NaN
433812   1130429       NaN      9.97       NaN       NaN
433813   1130530       NaN      7.20       NaN       NaN
433814   1130533       NaN     11.13       NaN       NaN
433815   1130579       NaN      4.00       NaN       NaN
433816   1130683       NaN      7.20       NaN       NaN
433817   1130821       NaN     12.87       NaN       NaN
433818   1130904       NaN      7.40       NaN       NaN
433819   1131288       NaN      8.19       NaN       NaN

[433820 rows x 5 columns]

In [23]:
pivot_df.to_csv('E:\\Pdf_1314.csv')

In [24]:
df_1314_E = 'E:\\Pdf_1314_1.csv'

In [38]:
pivot_df = pd.read_csv(df_1314_E)

In [39]:
pivot_df

          DE_ID    Qtr1    Qtr2    Qtr3    Qtr4
0         10478   16.42    6.69   28.50     NaN
1         10479     NaN     NaN  764.67   90.40
2         10480   14.96   13.36    8.32   21.02
3         10485     NaN    3.11     NaN     NaN
4         10488     NaN     NaN   11.71     NaN
5         10489  289.12  441.39   30.74   45.29
6         10490     NaN   25.44     NaN    3.93
7         10492     NaN   12.21   26.34    6.30
8         10494   59.44    5.91     NaN   21.00
9         10495    8.49   19.09    3.30    6.38
10        10498     NaN     NaN   22.64   22.31
11        10499   10.72     NaN     NaN     NaN
12        10500    5.24   15.72    2.61   12.07
13        10502    2.25     NaN   14.25     NaN
14        10503  104.32   98.86   99.36  132.48
15        10504    9.64   13.18    4.16     NaN
16        10507    8.37     NaN     NaN    1.78
17        10508   37.43     NaN    5.44   16.52
18        10509     NaN    3.61     NaN     NaN
19        10511   13.10    6.55    8.25    1.96
20        10512   24.42   11.06   99.58   31.92
21        10514    2.07     NaN     NaN    2.31
22        10515     NaN    6.08     NaN     NaN
23        10517  349.46   31.48   18.33   24.44
24        10518    9.00    3.70     NaN     NaN
25        10519     NaN     NaN    3.34     NaN
26        10520     NaN     NaN    3.21     NaN
27        10522     NaN     NaN    5.23     NaN
28        10523     NaN     NaN    1.94     NaN
29        10526   50.39   59.03   44.25  105.26
...         ...     ...     ...     ...     ...
433790  1129679     NaN    9.29     NaN     NaN
433791  1129749     NaN    8.77     NaN     NaN
433792  1129780     NaN   35.07     NaN     NaN
433793  1129782     NaN    7.05     NaN     NaN
433794  1129799     NaN    7.25     NaN     NaN
433795  1129886     NaN   14.32     NaN     NaN
433796  1129906     NaN    7.73     NaN     NaN
433797  1129928     NaN   12.64     NaN     NaN
433798  1129949     NaN    9.51     NaN     NaN
433799  1129969     NaN   12.31     NaN     NaN
433800  1129990     NaN  366.58     NaN     NaN
433801  1130050     NaN   25.62     NaN     NaN
433802  1130070     NaN   26.80     NaN     NaN
433803  1130182     NaN    7.20     NaN     NaN
433804  1130188     NaN   17.64     NaN     NaN
433805  1130272     NaN   12.28     NaN     NaN
433806  1130304     NaN    8.01     NaN     NaN
433807  1130308     NaN    8.60     NaN     NaN
433808  1130348     NaN   32.02     NaN     NaN
433809  1130350     NaN   24.52     NaN     NaN
433810  1130408     NaN   10.42     NaN     NaN
433811  1130425     NaN    7.29     NaN     NaN
433812  1130429     NaN    9.97     NaN     NaN
433813  1130530     NaN    7.20     NaN     NaN
433814  1130533     NaN   11.13     NaN     NaN
433815  1130579     NaN    4.00     NaN     NaN
433816  1130683     NaN    7.20     NaN     NaN
433817  1130821     NaN   12.87     NaN     NaN
433818  1130904     NaN    7.40     NaN     NaN
433819  1131288     NaN    8.19     NaN     NaN

[433820 rows x 5 columns]

In [40]:
pivot_df.fillna(value='',inplace=False)

          DE_ID    Qtr1    Qtr2    Qtr3    Qtr4
0         10478   16.42    6.69    28.5
1         10479                  764.67    90.4
2         10480   14.96   13.36    8.32   21.02
3         10485            3.11
4         10488                   11.71
5         10489  289.12  441.39   30.74   45.29
6         10490           25.44            3.93
7         10492           12.21   26.34     6.3
8         10494   59.44    5.91              21
9         10495    8.49   19.09     3.3    6.38
10        10498                   22.64   22.31
11        10499   10.72
12        10500    5.24   15.72    2.61   12.07
13        10502    2.25           14.25
14        10503  104.32   98.86   99.36  132.48
15        10504    9.64   13.18    4.16
16        10507    8.37                    1.78
17        10508   37.43            5.44   16.52
18        10509            3.61
19        10511    13.1    6.55    8.25    1.96
20        10512   24.42   11.06   99.58   31.92
21        10514    2.07                    2.31
22        10515            6.08
23        10517  349.46   31.48   18.33   24.44
24        10518       9     3.7
25        10519                    3.34
26        10520                    3.21
27        10522                    5.23
28        10523                    1.94
29        10526   50.39   59.03   44.25  105.26
...         ...     ...     ...     ...     ...
433790  1129679            9.29
433791  1129749            8.77
433792  1129780           35.07
433793  1129782            7.05
433794  1129799            7.25
433795  1129886           14.32
433796  1129906            7.73
433797  1129928           12.64
433798  1129949            9.51
433799  1129969           12.31
433800  1129990          366.58
433801  1130050           25.62
433802  1130070            26.8
433803  1130182             7.2
433804  1130188           17.64
433805  1130272           12.28
433806  1130304            8.01
433807  1130308             8.6
433808  1130348           32.02
433809  1130350           24.52
433810  1130408           10.42
433811  1130425            7.29
433812  1130429            9.97
433813  1130530             7.2
433814  1130533           11.13
433815  1130579               4
433816  1130683             7.2
433817  1130821           12.87
433818  1130904             7.4
433819  1131288            8.19

[433820 rows x 5 columns]

In [41]:
pivot_df['CB'] = pivot_df.apply(lambda x: x.count() - 1, axis=1)

In [44]:
pivot_df.fillna(value='',inplace=False)

          DE_ID    Qtr1    Qtr2    Qtr3    Qtr4  CB
0         10478   16.42    6.69    28.5           3
1         10479                  764.67    90.4   2
2         10480   14.96   13.36    8.32   21.02   4
3         10485            3.11                   1
4         10488                   11.71           1
5         10489  289.12  441.39   30.74   45.29   4
6         10490           25.44            3.93   2
7         10492           12.21   26.34     6.3   3
8         10494   59.44    5.91              21   3
9         10495    8.49   19.09     3.3    6.38   4
10        10498                   22.64   22.31   2
11        10499   10.72                           1
12        10500    5.24   15.72    2.61   12.07   4
13        10502    2.25           14.25           2
14        10503  104.32   98.86   99.36  132.48   4
15        10504    9.64   13.18    4.16           3
16        10507    8.37                    1.78   2
17        10508   37.43            5.44   16.52   3
18        10509            3.61                   1
19        10511    13.1    6.55    8.25    1.96   4
20        10512   24.42   11.06   99.58   31.92   4
21        10514    2.07                    2.31   2
22        10515            6.08                   1
23        10517  349.46   31.48   18.33   24.44   4
24        10518       9     3.7                   2
25        10519                    3.34           1
26        10520                    3.21           1
27        10522                    5.23           1
28        10523                    1.94           1
29        10526   50.39   59.03   44.25  105.26   4
...         ...     ...     ...     ...     ...  ..
433790  1129679            9.29                   1
433791  1129749            8.77                   1
433792  1129780           35.07                   1
433793  1129782            7.05                   1
433794  1129799            7.25                   1
433795  1129886           14.32                   1
433796  1129906            7.73                   1
433797  1129928           12.64                   1
433798  1129949            9.51                   1
433799  1129969           12.31                   1
433800  1129990          366.58                   1
433801  1130050           25.62                   1
433802  1130070            26.8                   1
433803  1130182             7.2                   1
433804  1130188           17.64                   1
433805  1130272           12.28                   1
433806  1130304            8.01                   1
433807  1130308             8.6                   1
433808  1130348           32.02                   1
433809  1130350           24.52                   1
433810  1130408           10.42                   1
433811  1130425            7.29                   1
433812  1130429            9.97                   1
433813  1130530             7.2                   1
433814  1130533           11.13                   1
433815  1130579               4                   1
433816  1130683             7.2                   1
433817  1130821           12.87                   1
433818  1130904             7.4                   1
433819  1131288            8.19                   1

[433820 rows x 6 columns]

In [45]:
df2= pivot_df.loc[pivot_df["CB"]==4]

In [46]:
df2

          DE_ID     Qtr1    Qtr2    Qtr3     Qtr4  CB
2         10480    14.96   13.36    8.32    21.02   4
5         10489   289.12  441.39   30.74    45.29   4
9         10495     8.49   19.09    3.30     6.38   4
12        10500     5.24   15.72    2.61    12.07   4
14        10503   104.32   98.86   99.36   132.48   4
19        10511    13.10    6.55    8.25     1.96   4
20        10512    24.42   11.06   99.58    31.92   4
23        10517   349.46   31.48   18.33    24.44   4
29        10526    50.39   59.03   44.25   105.26   4
30        10527    60.06   48.28   63.78    70.72   4
31        10528    68.20   50.37   68.76    72.81   4
32        10529   105.77  137.01    2.99    22.17   4
36        10535    90.64   58.19  119.45   204.15   4
37        10536    40.91    6.08   40.20    53.09   4
39        10540   127.52   98.58  141.99   141.99   4
43        10546    16.09   31.46   39.92    31.31   4
45        10550     4.28    2.14    2.16     2.16   4
48        10556    40.57   44.28   44.25    29.50   4
57        10573     9.00    2.23   77.37    46.80   4
58        10574    41.82   45.06   33.42    43.28   4
59        10575    59.40   45.72   70.03    62.25   4
61        10579   114.24  108.35  133.23   218.08   4
69        10592    10.74   14.61    8.18     7.62   4
75        10600    23.93  109.94   48.23    93.62   4
78        10608    43.53   60.22   17.88    17.73   4
82        10612   110.26   73.54  133.01   182.26   4
83        10614    78.44   67.71   62.25    93.84   4
84        10615  3450.63  462.90  232.99   192.20   4
87        10619   358.36  133.49   47.33   190.66   4
88        10622    32.28   16.32   29.81    32.52   4
...         ...      ...     ...     ...      ...  ..
420468  1085944   113.77   92.67   69.90    77.15   4
420469  1085946    93.40   46.70   35.24    35.24   4
420578  1086118    44.11   48.54   29.26    75.34   4
420602  1086174   337.82  337.38   10.61    21.22   4
420897  1086718    57.44  165.25   25.18    34.19   4
421089  1087061    69.81  107.94   29.38   319.50   4
421091  1087063   154.13   80.51   44.97   101.78   4
421092  1087064    86.01   88.32   47.53   148.84   4
421125  1087131    31.63   20.20   46.54    46.54   4
421149  1087178   112.07  256.91   57.40    77.46   4
421199  1087263     7.75  243.69   10.94    27.14   4
421539  1087892    42.32   57.72   11.87    32.15   4
421569  1087960    31.59   43.26    7.48    79.25   4
421578  1087983   248.91    5.58    7.59     7.24   4
421710  1088263   103.20   76.23   11.96    65.19   4
421871  1088589   619.58  606.46   23.39  1608.55   4
422058  1088961    36.11   12.84   18.40    57.69   4
422180  1089211   293.41  286.70   93.05   207.32   4
422290  1089453    41.02   25.00    9.42    55.55   4
422407  1089668   130.72  133.32   47.39   224.96   4
422437  1089727    19.92   67.76   15.51    15.51   4
422528  1089913    25.48   54.45   15.23    59.02   4
422623  1090093    28.21   54.03   41.89   107.66   4
423242  1094224   105.57   90.87   38.84   105.80   4
423280  1094310    24.67  181.75   13.60   158.52   4
423459  1094685   474.43  819.23  360.44   412.44   4
423564  1094888   110.31  237.63   21.45    67.21   4
423726  1095182   116.06  114.86    8.70    60.15   4
424200  1096109   119.67  114.28   14.11    47.82   4
424760  1097199    25.41   23.42    8.31    11.71   4

[49550 rows x 6 columns]

In [85]:
df_1314_M = pd.merge(df, df2, how='left', on=['DE_ID'])

In [89]:
df_1314_M.columns

Index(['DE_ID', 'VENDOR', 'DISP_DATE', 'SDATE', 'YYYYMMDD', 'PRESCRIBER',
       'AMT_PAID', 'NDC', 'QTY', 'DAYS', 'GENDER', 'AGE', 'LN', 'AHFS',
       'GCN_SEQNO', 'New_Date', 'New_Month', 'New_Year', 'New_Day', 'New_Qtr',
       'Qtr1', 'Qtr2', 'Qtr3', 'Qtr4', 'CB'],
      dtype='object')

In [106]:
df_1314_M = pd.merge(df2, df, how='left', on=['DE_ID'])

In [109]:
df_1314_M.head()

,DE_ID,Qtr1,Qtr2,Qtr3,Qtr4,CB,VENDOR,DISP_DATE,SDATE,YYYYMMDD,...,GENDER,AGE,LN,AHFS,GCN_SEQNO,New_Date,New_Month,New_Year,New_Day,New_Qtr
0,10480,14.96,13.36,8.32,21.02,4,465032,2013237,16796,20130825,...,F,45,TRAMADOL HCL 50 MG TABLET,28080840,23139,2013-08-25,8,2013,25,Qtr3
1,10480,14.96,13.36,8.32,21.02,4,465032,2013266,16825,20130923,...,F,45,TRAMADOL HCL 50 MG TABLET,28080840,23139,2013-09-23,9,2013,23,Qtr3
2,10480,14.96,13.36,8.32,21.02,4,465032,2013294,16853,20131021,...,F,45,TRAMADOL HCL 50 MG TABLET,28080840,23139,2013-10-21,10,2013,21,Qtr4
3,10480,14.96,13.36,8.32,21.02,4,144770,2013331,16890,20131127,...,F,46,TRAMADOL HCL 50 MG TABLET,28080840,23139,2013-11-27,11,2013,27,Qtr4
4,10480,14.96,13.36,8.32,21.02,4,144770,2013348,16907,20131214,...,F,46,TRAMADOL HCL 50 MG TABLET,28080840,23139,2013-12-14,12,2013,14,Qtr4

In [110]:
df_1314_M.to_csv('E:\\df_1314_M.csv')

In [ ]:
for AMT_PAID in data:
    if AMT_PAID >0
    else delete

In [23]:
# sorting by first name 
data.sort_values("DE_ID", inplace = True)

In [73]:
data.columns
data.AMT_PAID

0           4.16
1           4.16
2           4.16
3           5.62
4           5.62
5           5.62
6           5.62
7           5.62
8           3.72
9           3.64
10          3.04
11          3.64
12          3.04
13         14.11
14         14.11
15          2.52
16         15.03
17         15.03
18         15.23
19          5.05
20          5.13
21        139.47
22        139.47
23        136.80
24        131.87
25          2.49
26          5.93
27        164.30
28          3.30
29          6.38
           ...
746883     14.25
746884     14.25
746885     14.25
746886     14.25
746887     13.67
746888     40.26
746889     23.94
746890     23.94
746891     23.94
746892     29.72
746893     15.74
746894     15.74
746895     29.72
746896     14.11
746897     11.43
746898     11.63
746899     12.38
746900     12.38
746901     12.38
746902     83.21
746903     11.70
746904     12.38
746905     57.14
746906     57.14
746907      8.31
746908     11.71
746909     11.71
746910     13.70
746911     11.71
746912     11.71
Name: AMT_PAID, Length: 746913, dtype: float64

In [72]:
data1=data.drop_duplicates(keep=False)
data1

,DE_ID,Qtr1,Qtr2,Qtr3,Qtr4,CB,VENDOR,DISP_DATE,SDATE,YYYYMMDD,...,GENDER,AGE,LN,AHFS,GCN_SEQNO,New_Date,New_Month,New_Year,New_Day,New_Qtr
0,10480,14.96,13.36,8.32,21.02,4,465032,2013237,16796,20130825,...,F,45,TRAMADOL HCL 50 MG TABLET,28080840,23139,2013-08-25,8,2013,25,Qtr3
1,10480,14.96,13.36,8.32,21.02,4,465032,2013266,16825,20130923,...,F,45,TRAMADOL HCL 50 MG TABLET,28080840,23139,2013-09-23,9,2013,23,Qtr3
2,10480,14.96,13.36,8.32,21.02,4,465032,2013294,16853,20131021,...,F,45,TRAMADOL HCL 50 MG TABLET,28080840,23139,2013-10-21,10,2013,21,Qtr4
3,10480,14.96,13.36,8.32,21.02,4,144770,2013331,16890,20131127,...,F,46,TRAMADOL HCL 50 MG TABLET,28080840,23139,2013-11-27,11,2013,27,Qtr4
6,10480,14.96,13.36,8.32,21.02,4,465032,2014014,16938,20140114,...,F,46,TRAMADOL HCL 50 MG TABLET,28080840,23139,2014-01-14,1,2014,14,Qtr1
7,10480,14.96,13.36,8.32,21.02,4,465032,2014034,16958,20140203,...,F,46,TRAMADOL HCL 50 MG TABLET,28080840,23139,2014-02-03,2,2014,3,Qtr1
8,10480,14.96,13.36,8.32,21.02,4,144974,2014065,16989,20140306,...,F,46,TRAMADOL HCL 50 MG TABLET,28080840,23139,2014-03-06,3,2014,6,Qtr1
9,10480,14.96,13.36,8.32,21.02,4,465032,2014097,17021,20140407,...,F,46,TRAMADOL HCL 50 MG TABLET,28080840,23139,2014-04-07,4,2014,7,Qtr2
10,10480,14.96,13.36,8.32,21.02,4,465032,2014121,17045,20140501,...,F,46,TRAMADOL HCL 50 MG TABLET,28080840,23139,2014-05-01,5,2014,1,Qtr2
11,10480,14.96,13.36,8.32,21.02,4,465032,2014149,17073,20140529,...,F,46,TRAMADOL HCL 50 MG TABLET,28080840,23139,2014-05-29,5,2014,29,Qtr2
12,10480,14.96,13.36,8.32,21.02,4,465032,2014176,17100,20140625,...,F,46,TRAMADOL HCL 50 MG TABLET,28080840,23139,2014-06-25,6,2014,25,Qtr2
13,10489,289.12,441.39,30.74,45.29,4,145410,2013183,16742,20130702,...,M,43,HYDROCODON-ACETAMINOPH 7.5-500,28080818,4205,2013-07-02,7,2013,2,Qtr3
14,10489,289.12,441.39,30.74,45.29,4,145410,2013218,16777,20130806,...,M,44,HYDROCODON-ACETAMINOPH 7.5-500,28080818,4205,2013-08-06,8,2013,6,Qtr3
15,10489,289.12,441.39,30.74,45.29,4,145410,2013249,16808,20130906,...,M,44,HYDROCODON-ACETAMINOPHEN 5-500,28080814,4204,2013-09-06,9,2013,6,Qtr3
16,10489,289.12,441.39,30.74,45.29,4,145410,2013280,16839,20131007,...,M,44,HYDROCODON-ACETAMINOPH 7.5-500,28080818,4205,2013-10-07,10,2013,7,Qtr4
17,10489,289.12,441.39,30.74,45.29,4,145410,2013309,16868,20131105,...,M,44,HYDROCODON-ACETAMINOPH 7.5-500,28080818,4205,2013-11-05,11,2013,5,Qtr4
18,10489,289.12,441.39,30.74,45.29,4,145410,2013337,16896,20131203,...,M,44,HYDROCODON-ACETAMINOPH 7.5-500,28080818,4205,2013-12-03,12,2013,3,Qtr4
19,10489,289.12,441.39,30.74,45.29,4,145410,2014002,16926,20140102,...,M,44,HYDROCODON-ACETAMINOPH 7.5-500,28080818,4205,2014-01-02,1,2014,2,Qtr1
20,10489,289.12,441.39,30.74,45.29,4,145410,2014025,16949,20140125,...,M,44,HYDROCODON-ACETAMINOPHN 10-325,28080825,30623,2014-01-25,1,2014,25,Qtr1
21,10489,289.12,441.39,30.74,45.29,4,145410,2014064,16988,20140305,...,M,44,HYDROCODON-ACETAMINOPH 7.5-300,28080827,60533,2014-03-05,3,2014,5,Qtr1
22,10489,289.12,441.39,30.74,45.29,4,145410,2014078,17002,20140319,...,M,44,HYDROCODON-ACETAMINOPH 7.5-300,28080827,60533,2014-03-19,3,2014,19,Qtr1
23,10489,289.12,441.39,30.74,45.29,4,145410,2014104,17028,20140414,...,M,44,HYDROCODON-ACETAMINOPH 7.5-300,28080827,60533,2014-04-14,4,2014,14,Qtr2
24,10489,289.12,441.39,30.74,45.29,4,145410,2014135,17059,20140515,...,M,44,HYDROCODON-ACETAMINOPH 7.5-300,28080827,60533,2014-05-15,5,2014,15,Qtr2
25,10489,289.12,441.39,30.74,45.29,4,145410,2014154,17078,20140603,...,M,44,TRAMADOL HCL 50 MG TABLET,28080840,23139,2014-06-03,6,2014,3,Qtr2
26,10489,289.12,441.39,30.74,45.29,4,145410,2014164,17088,20140613,...,M,44,TRAMADOL HCL 50 MG TABLET,28080840,23139,2014-06-13,6,2014,13,Qtr2
27,10489,289.12,441.39,30.74,45.29,4,145410,2014164,17088,20140613,...,M,44,HYDROCODON-ACETAMINOPH 7.5-300,28080827,60533,2014-06-13,6,2014,13,Qtr2
28,10495,8.49,19.09,3.30,6.38,4,140188,2013246,16805,20130903,...,F,50,TRAMADOL HCL 50 MG TABLET,28080840,23139,2013-09-03,9,2013,3,Qtr3
29,10495,8.49,19.09,3.30,6.38,4,141830,2013282,16841,20131009,...,F,51,HYDROCODON-ACETAMINOPHEN 5-500,28080814,4204,2013-10-09,10,2013,9,Qtr4
30,10495,8.49,19.09,3.30,6.38,4,141830,2014024,16948,20140124,...,F,51,TRAMADOL HCL 50 MG TABLET,28080840,23139,2014-01-24,1,2014,24,Qtr1
31,10495,8.49,19.09,3.30,6.38,4,141830,2014057,16981,20140226,...,F,51,TRAMADOL HCL 50 MG TABLET,28080840,23139,2014-02-26,2,2014,26,Qtr1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
746881,1095182,116.06,114.86,8.70,60.15,4,465342,2013284,16843,20131011,...,M,51,HYDROCODON-ACETAMINOPH 7.5-325,28080798,47431,2013-10-11,10,2013,11,Qtr4
746882,1095182,116.06,114.86,8.70,60.15,4,465342,2013298,16857,20131025,...,M,51,HYDROCODON-ACETAMINOPH 7.5-325,28080798,47431,2013-10-25,10,2013,25,Qtr4
746885,1095182,116.06,114.86,8.70,60.15,4,465342,2013343,16902,20131209,...,M,52,HYDROCODON-ACETAMINOPHN 10-325,28080825,30623,2013-12-09,12,2013,9,Qtr4
746886,1095182,116.06,114.86,8.70,60.15,4,465342,2014007,16931,20140107,...,M,52,HYDROCODON-ACETAMINOPHN 10-325,28080825,30623,2014-01-07,1,2014,7,Qtr1
746887,1095182,116.06,114.86,8.70,60.15,4,462239,2014032,16956,20140201,...,M,52,HYDROCODON-ACETAMINOPHN 10-325,28080825,30623,2014-02-01,2,2014,1,Qtr1
746888,1095182,116.06,114.86,8.70,60.15,4,146292,2014044,16968,20140213,...,M,52,HYDROCODON-ACETAMINOPHN 10-325,28080825,30623,2014-02-13,2,2014,13,Qtr1
746889,1095182,116.06,114.86,8.70,60.15,4,462239,2014059,16983,20140228,...,M,52,HYDROCODON-ACETAMINOPHN 10-325,28080825,30623,2014-02-28,2,2014,28,Qtr1
746890,1095182,116.06,114.86,8.70,60.15,4,462239,2014076,17000,20140317,...,M,52,HYDROCODON-ACETAMINOPHN 10-325,28080825,30623,2014-03-17,3,2014,17,Qtr1
746891,1095182,116.06,114.86,8.70,60.15,4,462239,2014093,17017,20140403,...,M,52,HYDROCODON-ACETAMINOPHN 10-325,28080825,30623,2014-04-03,4,2014,3,Qtr2
746892,1095182,116.06,114.86,8.70,60.15,4,462239,2014115,17039,20140425,...,M,52,HYDROCODON-ACETAMINOPHN 10-325,28080825,30623,2014-04-25,4,2014,25,Qtr2
746893,1095182,116.06,114.86,8.70,60.15,4,462239,2014138,17062,20140518,...,M,52,HYDROCODON-ACETAMINOPHN 10-325,28080825,30623,2014-05-18,5,2014,18,Qtr2
746894,1095182,116.06,114.86,8.70,60.15,4,462239,2014153,17077,20140602,...,M,52,HYDROCODON-ACETAMINOPHN 10-325,28080825,30623,2014-06-02,6,2014,2,Qtr2
746895,1095182,116.06,114.86,8.70,60.15,4,462239,2014168,17092,20140617,...,M,52,HYDROCODON-ACETAMINOPHN 10-325,28080825,30623,2014-06-17,6,2014,17,Qtr2
746896,1096109,119.67,114.28,14.11,47.82,4,142904,2013263,16822,20130920,...,F,50,HYDROCODON-ACETAMINOPH 7.5-500,28080818,4205,2013-09-20,9,2013,20,Qtr3
746897,1096109,119.67,114.28,14.11,47.82,4,466285,2013325,16884,20131121,...,F,50,MORPHINE SULF ER 30 MG TABLET,28080864,4096,2013-11-21,11,2013,21,Qtr4
746898,1096109,119.67,114.28,14.11,47.82,4,466285,2013325,16884,20131121,...,F,50,MORPHINE SULFATE IR 15 MG TAB,28080879,4091,2013-11-21,11,2013,21,Qtr4
746899,1096109,119.67,114.28,14.11,47.82,4,142904,2013344,16903,20131210,...,F,50,MORPHINE SULFATE IR 15 MG TAB,28080879,4091,2013-12-10,12,2013,10,Qtr4
746900,1096109,119.67,114.28,14.11,47.82,4,142904,2013361,16920,20131227,...,F,50,MORPHINE SULFATE IR 15 MG TAB,28080879,4091,2013-12-27,12,2013,27,Qtr4
746901,1096109,119.67,114.28,14.11,47.82,4,142904,2014020,16944,20140120,...,F,50,MORPHINE SULFATE IR 15 MG TAB,28080879,4091,2014-01-20,1,2014,20,Qtr1
746902,1096109,119.67,114.28,14.11,47.82,4,142904,2014020,16944,20140120,...,F,50,MORPHINE SULF ER 30 MG TABLET,28080864,4096,2014-01-20,1,2014,20,Qtr1
746903,1096109,119.67,114.28,14.11,47.82,4,142904,2014080,17004,20140321,...,F,50,MORPHINE SULFATE IR 30 MG TAB,28080871,4092,2014-03-21,3,2014,21,Qtr1
746904,1096109,119.67,114.28,14.11,47.82,4,142904,2014080,17004,20140321,...,F,50,MORPHINE SULFATE IR 15 MG TAB,28080879,4091,2014-03-21,3,2014,21,Qtr1
746905,1096109,119.67,114.28,14.11,47.82,4,142904,2014140,17064,20140520,...,F,51,MORPHINE SULF ER 30 MG TABLET,28080864,4096,2014-05-20,5,2014,20,Qtr2
746906,1096109,119.67,114.28,14.11,47.82,4,142904,2014181,17105,20140630,...,F,51,MORPHINE SULF ER 30 MG TABLET,28080864,4096,2014-06-30,6,2014,30,Qtr2
746907,1097199,25.41,23.42,8.31,11.71,4,466012,2013267,16826,20130924,...,F,50,HYDROCODON-ACETAMINOPHEN 5-325,28080799,47430,2013-09-24,9,2013,24,Qtr3
746908,1097199,25.41,23.42,8.31,11.71,4,466012,2013337,16896,20131203,...,F,51,HYDROCODON-ACETAMINOPHEN 5-325,28080799,47430,2013-12-03,12,2013,3,Qtr4
746909,1097199,25.41,23.42,8.31,11.71,4,466012,2014051,16975,20140220,...,F,51,HYDROCODON-ACETAMINOPHEN 5-325,28080799,47430,2014-02-20,2,2014,20,Qtr1
746910,1097199,25.41,23.42,8.31,11.71,4,580128,2014071,16995,20140312,...,F,51,HYDROCODON-ACETAMINOPHEN 5-325,28080799,47430,2014-03-12,3,2014,12,Qtr1
746911,1097199,25.41,23.42,8.31,11.71,4,580128,2014105,17029,20140415,...,F,51,HYDROCODON-ACETAMINOPHEN 5-325,28080799,47430,2014-04-15,4,2014,15,Qtr2
746912,1097199,25.41,23.42,8.31,11.71,4,466012,2014149,17073,20140529,...,F,51,HYDROCODON-ACETAMINOPHEN 5-325,28080799,47430,2014-05-29,5,2014,29,Qtr2

In [105]:
data.to_csv('E:/Windows 7 Backup_Sep18/Drive F_2018/Upwork Projects/2019/North America/USA/MAYA/df_1314.csv')

In [106]:
data.groupby('DE_ID').count()

,VENDOR,DISP_DATE,SDATE,YYYYMMDD,PRESCRIBER,AMT_PAID,NDC,QTY,DAYS,GENDER,AGE,LN,AHFS,GCN_SEQNO,New_Date,New_Month,New_Year,New_Day,New_Qtr
DE_ID,,,,,,,,,,,,,,,,,,,
10478,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
10479,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8
10480,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12
10485,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
10488,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
10489,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15
10490,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
10492,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
10494,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
10495,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
10498,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
10499,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
10500,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
10502,3,3,3,3,2,3,3,3,3,3,3,3,3,3,3,3,3,3,3
10503,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12
10504,9,9,9,9,7,9,9,9,9,9,9,9,9,9,9,9,9,9,9
10507,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
10508,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
10509,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
10511,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
10512,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10
10514,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
10515,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
10517,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12
10518,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
10519,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
10520,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
10522,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
10523,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
10526,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1129679,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1129749,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1129780,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1129782,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1129799,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1129886,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1129906,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1129928,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1129949,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1129969,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1129990,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1130050,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
1130070,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1130182,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1130188,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1130272,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1130304,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1130308,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1130348,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
1130350,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
1130408,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1130425,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1130429,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1130530,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1130533,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1130579,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1130683,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1130821,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1130904,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1131288,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1